@charset "utf-8";
/* Design by 涩果:QQ574707093 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
ol,ul,li{list-style:none;}
dl,dt,dd{ text-indent:0;}
img{ border:0}
body,button,select,textarea{font:12px/2 tahoma,arial,\5b8b\4f53;}
area {blr:expression(this.onFocus=this.blur())}
a{blr:expression(this.onFocus=this.blur());  /*IE Opera*/ outline:none; /* FFOpera */}
a:focus{  -moz-outline-style: none; /* FF */}
body{color:#484848;	background:#ebebeb url(../images/ibg.gif) repeat-x;}
.clearfix {content: ".";clear: both;visibility: hidden; }
.n8{ height:8px; line-height:8px;}
.n20{ height:20px; line-height:20px;}
.w1003{ width:1003px; margin:0 auto;}
.fl {float:left;}
.fr {float:right;}
.a100{ display:block; width:100%; height:100%; text-indent:-9999em;}
a{text-decoration:none; color:#484848; }
a:hover{ text-decoration:none; color:#F30}
.baise{ color:#FFF}
a.baise:hover{ color:#F00}
.huise,.huise a{ color:#868484;}


.header{ height:108px; width:961px; background:#FFF; margin:0 auto }
.top{ height:26px;  padding-top:4px; width:100%; text-align:right;}
.top ul{ float:right; padding-right:10px;}
.top ul li{ float:left;  }
.top ul li .skey{ width:80px; height:11px; border:1px solid #cccccc; line-height:11px; }

.nav_logo{ width:100%; height:77px;}
.logo{ width:197px; height:65px; display:inline; margin-left:18px; float:left; background:url(../images/logo.gif) no-repeat;}
.menus{ width:715px; height:77px; float:right; background:url(../images/menu.png);}
/*
.menus{ width:745px; height:77px; float:right;background: #9c5959;
    color: #000000;}
.menus{ width:745px; height:77px; float:right;background:url(../images/footbg.png) repeat-x;color:#FFF;}*/

.menus li{ width:80px; display:inline; float:left; margin-left:5px; padding-top:30px;}
/*.menus li{ display:inline; float:left; margin-left:5px; padding-top:30px;padding-left:10px;padding-right:10px;}*/
/*.menus li a.ap,.menus li a.ap2{ display:block; width:100%; height:47px; text-indent:-9999em;background:#464646; color:#FFF}
.menus li a.ap,.menus li a.ap2{ display:inline; width:55px; height:47px; text-indent:-9999em; color:#FFF;font-weight:bold;font-size:12px;}*/
.menus li a.ap,.menus li a.ap2{ display:block; width:100%; height:47px; text-indent:-9999em;}
.menus li a.ap3{ width:35px; height:47px; text-indent:-9999em; color:#FFF;font-weight:bold;font-size:12px;}
.menus li a.ap4{ width:35px; height:47px; text-indent:-9999em; color:#FFF;font-weight:bold;font-size:12px;padding-left:30px;}
.menus li a.ap:hover,.menus li a.ap2{ background:url(../images/menu_.gif) no-repeat center bottom}
/*
.menus li a.ap:hover,.menus li a.ap2{ background:url() no-repeat center bottom}
.menus li a.ap:hover,.menus li a.ap2{ background:#ebebeb; }
.menus li a.ap:hover,.menus li a.ap2{ background:url() no-repeat center bottom}*/
.menus li.home{ margin-left:84px; width:70px;}
/*.menus li ul{ width:84px; margin-left:-5px; position:absolute; z-index:99; display:none; padding-top:2px; }*/
.menus li ul{ width:84px; position:absolute; z-index:10; display:none; padding-top:2px; }
.menus li ul li{ width:100%; height:21px; line-height:18px; text-align:left; text-indent:12px; background:url(../images/blank.gif); float:left; margin:0; padding:0; }
.menus li ul li a{ height:19px; line-height:19px; display:block; position:relative; z-index:100}
.menus li ul li a:hover{ background:#464646; color:#FFF}
.menus li ul div{ position:absolute; width:100%; height:100%; _height:400px; background:url(../images/mbg.gif) left 0px; left:0; top:0; filter:alpha(opacity=20); opacity: 0.20;}


.banner,.ititle,.imain,.footer,.nmain{ width:961px; margin:0 auto;}

.imain{ background:#FFF; height:175px; }
.footer{ height:33px; background:url(../images/footbg.png) repeat-x; line-height:32px; color:#FFF; text-align:right}
.footer p{ padding-right:25px;}
.footer a{ color:#FFF; text-decoration:underline}
.footer a:hover{ color:#FC0}



