<TABLE cellSpacing=1 cellPadding=0 width=407 bgColor=#e6e6e6 border=0>
<TBODY>
<TR>
<TD class=font vAlign=top align=left bgColor=#ffffff colSpan=2 height=20>
<P>&nbsp;<IMG height=12 src="images/dot3.jpg" 
width=12>技术指标</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;二氧化钛含量，%</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≥93&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;吸油量，g/100g</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≤20&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;筛余物(45μm筛孔)，%</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≤0.01&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;颜色（与R-930标样相比）<BR>&nbsp;目视法<BR>&nbsp;色度法ΔΕ</P></TD>
<TD class=font vAlign=bottom align=right width=158 bgColor=#ffffff height=20>
<P align=right>近似于&nbsp;<BR>≤0.2&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;相对散射力(与R-930标样比)，%</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>96&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;消色力（雷诺兹数）</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≥1800&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;水萃取液电阻率（Ω·m） </P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≥200&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;105℃挥发物，% </P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≤ 0.5&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;经23±2℃及相对湿度（50±5），%<BR>&nbsp;预处理24h后，105℃挥发物，% </P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right><BR>≤ 1.5&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;水溶物，% </P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≤0.2&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;水悬浮液pH值</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>6.5～8.0&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;研磨分散性（黑格曼数H） </P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≥6.25&nbsp;</P></TD></TR>
<TR>
<TD class=font vAlign=top align=left width=246 bgColor=#ffffff height=20>
<P>&nbsp;高搅分散性（μm）</P></TD>
<TD class=font vAlign=top align=right width=158 bgColor=#ffffff height=20>
<P align=right>≤ 30&nbsp;</P></TD></TR></TBODY></TABLE>