<table width="407" border="0" cellpadding="0" cellspacing="1" bgcolor="#E6E6E6">
              <tbody>
                <tr>
                  <td height="20" colspan="2" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;<img width="12" height="12" src="img/cpyfw_clip_image001.jpg" />Specifications</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Titanium dioxide content,%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&ge;93&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Oil absorption, g/100g</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&le;20&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Residue on sieve (45&mu;m sieve),%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&le;0.01&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Color (with R-930 compared with standard sample)<br />
                    &nbsp;Visual method<br />
                    &nbsp;Law &Delta;&Epsilon; chromaticity</p></td>
                  <td width="158" height="20" align="right" valign="bottom" bgcolor="#FFFFFF"><p align="right">Similar&nbsp;<br />
                    &le;0.2&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Relative scattering power (with the R-930 standard sample),%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">96&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Reducing power (Reynolds number)</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&ge;1800&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Water extract resistivity (&Omega; &middot; m)</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&ge;200&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;105 ¡æ volatile matter,%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&le; 0.5&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;After 23 &plusmn; 2 ¡æ and relative humidity (50 &plusmn; 5),%<br />
                    &nbsp;After 24h pretreatment, 105 ¡æ Volatile,%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right"><br />
                    &le; 1.5&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Water soluble,%</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&le;0.2&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;PH value of aqueous suspension</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">6.5¡«8.0&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;Grinding and dispersion of (Hagerman number of H)</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&ge;6.25&nbsp;</p></td>
                </tr>
                <tr>
                  <td width="246" height="20" align="left" valign="top" bgcolor="#FFFFFF"><p>&nbsp;High stirring dispersion (&mu;m)</p></td>
                  <td width="158" height="20" align="right" valign="top" bgcolor="#FFFFFF"><p align="right">&le; 30&nbsp;</p></td>
                </tr>
              </tbody>
            </table>